<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Disable the second-level cache -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">false</property>

        <property name="hibernate.hbm2ddl.auto">create-drop</property>

        <mapping class="ar.edu.unq.epers.tactics.modelo.Party" />
        <mapping class="ar.edu.unq.epers.tactics.modelo.Aventurero" />
        <mapping class="ar.edu.unq.epers.tactics.modelo.Pelea" />
        <mapping class="ar.edu.unq.epers.tactics.modelo.Tactica" />

    </session-factory>
</hibernate-configuration>